
<div class="question-container">
  <span class="question-counter">QUESTION {{ index }}/{{ totalQuestion }}</span>
  <h2>{{ currentQuestion?.question }}</h2>
  <div class="choice-container">
    <app-choice
      *ngFor="let choice of currentQuestion.choices"
      (selectAnswerEmitter)="onAnswerSelect($event)"
      [choice]="choice"
      [currentAnswer]="currentAnswer"
    ></app-choice>
  </div>

  <div class="navigation-container">
    <button
      nz-button
      class="btn-primary"
      nzSize="large"
      nzType="primary"
      (click)="onPrevious()"
      *ngIf="index > 1"
    >
      <span>Previous</span>
    </button>
    <button
      [disabled]="currentAnswer?.option === ''"
      class="btn-primary"
      nz-button
      nzSize="large"
      nzType="primary"
      (click)="onNext(index === totalQuestion)"
    >
      <span>{{ index < totalQuestion ? "Next" : "Done" }}</span>
    </button>
  </div>
</div>
