@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}
.container {
  background-color: #e6d7b8;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 100vw;
  min-height: 60vh;
  border: 1px solid #ff8b0e94;
}
.btn-primary {
  margin-top: 3px;
  width: 100%;
}
.btn-choice {
  outline: none;
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border: 1px solid #eae7e7;
  margin: 3px 0px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.question-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.btn-choice:hover {
  border: 1px solid #ff8b0e94;
}
.choice-container {
  width: 100%;
}
.welcome-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.question-counter {
  color: #ff8c0e;
  font-size: 10px;
  font-weight: bold;
}
.hero-img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.selected-answer {
  background-color: #ff8c0e5c;
  border: 1px solid #ff8b0e94;
}
.navigation-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 80vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 60vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 40vw;
  }
  .btn-choice {
    margin: 6px 0px;
    padding: 15px;
  }
  .welcome-container {
    width: 50%;
  }
  .btn-primary {
    margin-top: 0px;
    width: 40%;
  }
  .navigation-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
